.FUNCTION delay
.BYTE delay_ms_H 0
.BYTE delay_ms_L 0
.LOCALS
.BYTE delay_counter 0
.ASM
    jmp delay_check
delay_outer:
    lda #189
    sta delay_counter
delay_inner:
    nop
    nop
    nop
    lda delay_counter
    sub #1
    sta delay_counter
    jne delay_inner
    nop
    lda delay_ms_L
    sub #1
    sta delay_ms_L
    jcs delay_check
    lda delay_ms_H
    sub #1
    sta delay_ms_H
delay_check:
    lda delay_ms_H
    ora delay_ms_L
    jne delay_outer
.ENDFUNCTION delay
