.FUNCTION mod16
.BYTE mod16_return_H 0
.BYTE mod16_return_L 0
.BYTE mod16_a_H 0
.BYTE mod16_a_L 0
.BYTE mod16_b_H 0
.BYTE mod16_b_L 0
.LOCALS
.BYTE mod16_q_H 0
.BYTE mod16_q_L 0
.BYTE mod16_r_H 0
.BYTE mod16_r_L 0
.BYTE mod16_flag_H 0
.BYTE mod16_flag_L 0
.BYTE mod16_sign 0
.TMP
.BYTE mod16_0 0
.BYTE mod16_1 0
.CODE
MOV mod16_q_H:mod16_q_L,#$00:#$00
MOV mod16_r_H:mod16_r_L,#$00:#$00
MOV mod16_sign,#$00
LT mod16_0,mod16_a_H:mod16_a_L,#$00:#$00
JZ mod16_vm_1,mod16_0
NEG mod16_0:mod16_1,mod16_a_H:mod16_a_L
MOV mod16_a_H:mod16_a_L,mod16_0:mod16_1
MOV mod16_sign,#$01
.LABEL mod16_vm_1
LT mod16_1,mod16_b_H:mod16_b_L,#$00:#$00
JZ mod16_vm_3,mod16_1
NEG mod16_0:mod16_1,mod16_b_H:mod16_b_L
MOV mod16_b_H:mod16_b_L,mod16_0:mod16_1
.LABEL mod16_vm_3
MOV mod16_flag_H:mod16_flag_L,#$80:#$00
.LABEL mod16_vm_4
JZ mod16_vm_5,mod16_flag_H:mod16_flag_L
SHL mod16_0:mod16_1,mod16_r_H:mod16_r_L,#$01
MOV mod16_r_H:mod16_r_L,mod16_0:mod16_1
AND mod16_0:mod16_1,mod16_flag_H:mod16_flag_L,mod16_a_H:mod16_a_L
JZ mod16_vm_7,mod16_0:mod16_1
OR mod16_0:mod16_1,mod16_r_H:mod16_r_L,#$00:#$01
MOV mod16_r_H:mod16_r_L,mod16_0:mod16_1
.LABEL mod16_vm_7
SUB mod16_0:mod16_1,mod16_r_H:mod16_r_L,mod16_b_H:mod16_b_L
GTE mod16_1,mod16_0:mod16_1,#$00:#$00
JZ mod16_vm_9,mod16_1
SUB mod16_0:mod16_1,mod16_r_H:mod16_r_L,mod16_b_H:mod16_b_L
MOV mod16_r_H:mod16_r_L,mod16_0:mod16_1
OR mod16_0:mod16_1,mod16_q_H:mod16_q_L,mod16_flag_H:mod16_flag_L
MOV mod16_q_H:mod16_q_L,mod16_0:mod16_1
.LABEL mod16_vm_9
SHR mod16_0:mod16_1,mod16_flag_H:mod16_flag_L,#$01
MOV mod16_flag_H:mod16_flag_L,mod16_0:mod16_1
JMP mod16_vm_4
.LABEL mod16_vm_5
JZ mod16_vm_10,mod16_sign
NEG mod16_0:mod16_1,mod16_r_H:mod16_r_L
JMP mod16_vm_11
.LABEL mod16_vm_10
MOV mod16_0:mod16_1,mod16_r_H:mod16_r_L
.LABEL mod16_vm_11
MOV mod16_return_H:mod16_return_L,mod16_0:mod16_1
JMP mod16_end
.LABEL mod16_end
.RETURN mod16
