.FUNCTION mul16
.BYTE mul16_return_H 0
.BYTE mul16_return_L 0
.BYTE mul16_a_H 0
.BYTE mul16_a_L 0
.BYTE mul16_b_H 0
.BYTE mul16_b_L 0
.LOCALS
.BYTE mul16_res_H 0
.BYTE mul16_res_L 0
.BYTE mul16_flag_H 0
.BYTE mul16_flag_L 0
.TMP
.BYTE mul16_0 0
.BYTE mul16_1 0
.CODE
MOV mul16_flag_H:mul16_flag_L,#$00:#$01
MOV mul16_res_H:mul16_res_L,#$00:#$00
.LABEL mul16_vm_0
JZ mul16_vm_1,mul16_flag_H:mul16_flag_L
AND mul16_0:mul16_1,mul16_flag_H:mul16_flag_L,mul16_b_H:mul16_b_L
JZ mul16_vm_3,mul16_0:mul16_1
ADD mul16_0:mul16_1,mul16_res_H:mul16_res_L,mul16_a_H:mul16_a_L
MOV mul16_res_H:mul16_res_L,mul16_0:mul16_1
.LABEL mul16_vm_3
SHL mul16_0:mul16_1,mul16_a_H:mul16_a_L,#$01
MOV mul16_a_H:mul16_a_L,mul16_0:mul16_1
SHL mul16_0:mul16_1,mul16_flag_H:mul16_flag_L,#$01
MOV mul16_flag_H:mul16_flag_L,mul16_0:mul16_1
JMP mul16_vm_0
.LABEL mul16_vm_1
MOV mul16_return_H:mul16_return_L,mul16_res_H:mul16_res_L
JMP mul16_end
.LABEL mul16_end
.RETURN mul16
