.FUNCTION rand
.BYTE rand_return 0
.STATIC
.BYTE rand_seed_H $AC
.BYTE rand_seed_L $E1
.LOCALS
.BYTE rand_bit_H 0
.BYTE rand_bit_L 0
.BYTE rand_bit 0
.BYTE rand_temp 0
.ASM
    lda #0
    sta rand_bit_H
    sta rand_bit_L
    lda rand_seed_L
    sta rand_bit
    shr
    shr
    sta rand_temp
    xor rand_bit
    sta rand_bit
    lda rand_temp
    shr
    sta rand_temp
    xor rand_bit
    sta rand_bit
    lda rand_temp
    shr
    shr
    xor rand_bit
    shr
    jnc rand_shift_1
    lda #$80
    sta rand_bit_H
rand_shift_1:
    lda rand_seed_H
    shr
    jnc rand_shift_2
    lda #$80
    sta rand_bit_L
rand_shift_2:
    lda rand_seed_H
    shr
    ora rand_bit_H
    sta rand_seed_H
    lda rand_seed_L
    shr
    ora rand_bit_L
    sta rand_seed_L
    sta rand_return
.ENDFUNCTION rand
