.BYTE ga 6
.BYTE gb 3
.FUNCTION gcd
.BYTE gcd_return 0
.BYTE gcd_a 0
.BYTE gcd_b 0
.LOCALS
.BYTE gcd_c 0
.TMP
.BYTE gcd_0 0
.CODE
gcd_label_0:
JZ gcd_label_1,gcd_a
MOD gcd_0,gcd_b,gcd_a
MOV gcd_c,gcd_0
MOV gcd_b,gcd_a
MOV gcd_a,gcd_c
JMP gcd_label_0
gcd_label_1:
MOV gcd_return,gcd_b
JMP gcd_end
gcd_end:
.RETURN gcd
.FUNCTION max
.BYTE max_return 0
.BYTE max_a 0
.BYTE max_b 0
.TMP
.BYTE max_0 0
.CODE
GT max_0,max_a,max_b
JZ max_label_0,max_0
MOV max_0,max_a
JMP max_label_1
max_label_0:
MOV max_0,max_b
max_label_1:
MOV max_return,max_0
JMP max_end
max_end:
.RETURN max
.FUNCTION lcm
.BYTE lcm_return 0
.BYTE lcm_a 0
.BYTE lcm_b 0
.TMP
.BYTE lcm_0 0
.CODE
MOV gcd_a,lcm_a
MOV gcd_b,lcm_b
CALL gcd
MOV lcm_0,gcd_return
DIV lcm_0,lcm_a,lcm_0
MUL lcm_0,lcm_0,lcm_b
MOV lcm_return,lcm_0
JMP lcm_end
lcm_end:
.RETURN lcm
.FUNCTION main
.TMP
.BYTE main_0 0
.CODE
MOV gcd_a,#15
MOV gcd_b,#29
CALL gcd
MOV max_a,#7
MOV max_b,#40
CALL max
MOV main_0,max_return
MOV lcm_a,main_0
MOV lcm_b,#49
CALL lcm
main_end:
.RETURN main
